<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Sout">
			<PatternLayout>
				<Pattern>%d [%t] %c{2} : %msg %ex%n</Pattern>
			</PatternLayout>
		</Console>
		<RollingFile name="RollingFile" fileName="logs/chat.log"
			filePattern="logs/chat-%d{dd-MM-yyyy}.log" ignoreException="false">
			<PatternLayout>
				<PatterN>%d [%t] %c{2} : %msg %ex%n</PatterN>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="2 MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="ALL">
			<AppenderRef ref="Sout" />
		</Root>
	</Loggers>
</Configuration>